
body
{
    background: #bd48a7;
background: linear-gradient(103deg, rgba(189, 72, 167, 1) 0%, rgba(62, 132, 207, 1) 50%, rgba(84, 235, 137, 1) 100%);
}
body, html
{
    height: 100%;
    margin: 0;
}
header 
{
    height: 100px;
}
.kurs
{
    display: flex;
    font-size: 50px;
    justify-content: center;
    text-decoration: solid;
}
.but1, .but2, .but3, .but4, .but5, .but6
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    width: 350px;
    height: 150px;
    border-radius: 90px;
    background-color: #fa8ec8;
    color: white;
    font-weight: bold;
    font-size: 33px;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}
.moduli
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    gap: 15px;
}
a:hover
{
    transition: .3s;
    font-size: 50px;
    background-color: #eb1588;
}
a
{
    text-decoration: none;
    color: white;
}